<h1>Leaderboard</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h3>Level Select</h3>
				</div>

				<div class="card-body btn-group-vertical">
					{{#each levels}}
						<button class="btn btn-primary m-1" type="button" data-toggle="collapse" data-target="#level{{@index}}_data" aria-expanded="false" aria-controls="level{{@index}}_data">
							Level {{@index}}
						</button>
					{{else}}
						<h3>NO LEVELS!?</h3>
					{{/each}}
				</div>
			</div>
		</div>

		<div class="col accordion" id="level_data">
			{{#each levels}}
				<div class="card collapse" id="level{{@index}}_data" data-parent="#level_data">
					<div class="card-header">
						<h3>Level {{@index}}</h3>
					</div>

					<div class="card-body">
						{{#each users}}
							<div class="row">
								<div class="col-9">
									<h3>{{@index}} - {{name}}: {{time}}</h3>
								</div>
								{{#if ../../user.admin}}
									<form action="/{{name}}/{{level}}/invalidate" class="col-2">
										<button type="submit" data-container="body" data-toggle="popover" data-placement="top" data-content="Invalidate">
											<img src="images/ban_hammer.png" style="width: 100%;" />
										</button>
									</form>
								{{/if}}
							</div>
						{{else}}
							<h3>Nobody Has Completed This Level!</h3>
						{{/each}}
					</div>
				</div>
			{{else}}
				<h3>NO LEVELS!?</h3>
			{{/each}}
		</div>

	</div>
</div>