<h1>User</h1>
<div class="container">
	<div class="row">
		<div class="col-2">
			<div class="card" style="width: 128px; height: 128px;">
				<img src="{{profile}}" class="mw-100" alt="Profile Image" />
			</div>
		</div>
		<div class="col-10">
			<div class="container" style="height: 128px;">
				<h2><span style="font-size: 300%;">{{name}}</span></h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<br />
			<div class="card">
				<div class="card-header">
					<h4>Times</h4>
				</div>
				<div class="card-body">
					{{#each levels}}
						<h3><b>Level {{level}}</b> -- <b>{{time}}</b></h3>
					{{else}}
						<h3>This User Doesn't Have Any Runs!</h3>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-8">
			<br />
			<div class="card">
				<div class="card-header">
					<h4>Data</h4>
				</div>
				<div class="card-body">
					<div>
						<h3><b>Deaths --</b> {{deathCount}}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>